In [1]:
import pandas as pd

In [8]:
df=pd.read_excel('인벤_result.xlsx')

In [5]:
df.columns=['word','DF']

In [9]:
df

   Unnamed: 0    index  DF
0           0    계층대기업   3
1           1       기타   2
2           2      레전드   2
3           3     10대들   1
4           4      유머힘   1
5           5    유머하우돈   1
6           6     유머딸배   1
7           7  유머디즈니월드   1
8           8     유머능욕   1
9           9     유머괴력   1

In [7]:
df.to_excel('test.xlsx')