In [151]:
import pandas as pd
import re
import konlpy
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import font_manager, rc
import numpy as np
from tqdm import tqdm
import urllib.request
import warnings
warnings.filterwarnings("ignore")

In [211]:
df = pd.read_excel('data/_test.xlsx')

In [212]:
from konlpy.tag import Hannanum

hannanum = Hannanum()
okt = konlpy.tag.Okt()

def text_preprocess(x):
    text=[]
    a = re.sub('[^가-힣0-9a-zA-Z\\s]', '',str(x))
    for j in a.split():
        text.append(j)
    return ' '.join(text)

def tokenize(x):
    text = []
    tokens = okt.pos(x)
    for token in tokens :
        #if token[1] == 'Adjective' or token[1]=='Adverb' or token[1] == 'Noun' or token[1] == 'Verb' or 'Unknown':
        if token[1] == 'Noun' :
            if len(token[0])>1:
                text.append(token[0])
    return text

def get(x):
    result=""
    for i in x:
        if len(i)>1:
            
            i=i.replace("jpg","")
            if "갤" in i:
                continue
            result=result+" "+i
    return result

In [213]:
df['token'] = df['제목'].apply(lambda x : text_preprocess(x))
df['token']=df['token'].apply(lambda x : hannanum.nouns(x))
df['data']=df['token'].apply(lambda x: get(x))

In [214]:
df

,제목,날짜,token,data
0,"메시, 역대 최다 7번째 '발롱도르' 수상…호날두는 6위",2021.11.30 21:19,"[메시, 역대, 최다, 7번, 발롱도르, 수상호날두, 6위]",메시 역대 최다 7번 발롱도르 수상호날두 6위
1,"콘테가 점찍은 '케인 후계자', 맨유까지 가세... 영입할 수 있을까",2021.11.30 21:17,"[콘테, 케, 후계자, 맨유까지, 영입, 수, 있을까]",콘테 후계자 맨유까지 영입 있을까
2,"1800억→675억...바르사 골칫덩이, 재계약 거부 후 '이적 추진'",2021.11.30 21:13,"[1800억675억바르사, 골칫덩, 재계약, 거부, 후, 이적, 추진]",1800억675억바르사 골칫덩 재계약 거부 이적 추진
3,여전한 '메시의 시대'…7번째 발롱도르,2021.11.30 21:04,"[여전, 메시, 시대7번째, 발롱도르]",여전 메시 시대7번째 발롱도르
4,"레반도프스키 아내 ""사랑해요 여보, 당신은 나에게 언제나 1등""",2021.11.30 21:04,"[레반도프스키, 아내, 사랑, 당신, 나, 1등]",레반도프스키 아내 사랑 당신 1등
...,...,...,...,...
175,"메시, 7번째 발롱도르…2위 레반도프스키, 스트라이커賞",2021.11.30 11:51,"[메시, 7번, 발롱도르2위, 레반도프스키, 스트라이커]",메시 7번 발롱도르2위 레반도프스키 스트라이커
176,'이러니 PSG 떠나지' 감출 수 없었던 음바페의 '썩소',2021.11.30 11:51,"[이러니, 수, 음바페, 썩소]",이러니 음바페 썩소
177,"'맨유 시한부 감독' 랑닉, 코칭스태프는 솔샤르 시절 그대로?",2021.11.30 11:51,"[맨유, 시한부, 감독, 랑닉, 코칭스태프, 솔샤르, 시절]",맨유 시한부 감독 랑닉 코칭스태프 솔샤르 시절
178,"김민재 토트넘行 위해 손흥민 나섰다?…""콘테 면담 통역 맡아""",2021.11.30 11:50,"[김민재, 토트넘, 손흥민, 나섰다콘테, 면담, 통역]",김민재 토트넘 손흥민 나섰다콘테 면담 통역
179,"'발롱도르 수상' 메시, 613점 획득...호날두는 178점에 그치며 6위 기록",2021.11.30 11:50,"[발롱도르, 수상, 메시, 613점, 획득호날두, 178점, 6위, 기록]",발롱도르 수상 메시 613점 획득호날두 178점 6위 기록

In [208]:
vocab=list(set(w for doc in df['data'] for w in doc.split()))
vocab.sort()

In [209]:
def count_df(t,df):
    count=0
    for i in range(len(df)):
        for j in df.loc[i,'token']:
            if j==t:
                count=count+1
    return count

In [210]:
result=[]
for i in range(len(vocab)):
    t=vocab[i]
    result.append(count_df(t,df))
result=pd.DataFrame(result, index=vocab, columns=['DF'])
result=result.sort_values(by=['DF'],ascending=False)
result.head(10)

     DF
이재명  35
아들   19
윤석열  19
성매매  15
여자    9
이유    8
대선    8
의혹    7
사과    7
여자들   7